* {
	margin:0;
	padding:0;
}

p {
	margin-left: 25px;
}


ul {
	list-style-type: none;
}

ul ul {
	clear:both;
}

ul ul li {
	margin-bottom: 5px;
}

section {
	margin-bottom:30px;
	overflow: hidden;
}

h1, h2, h3, h4{
	font-weight:300;
	color: #7A378B;
}

#resume > section > ul > li> h3 {
	font-size:medium;
}



#resume > section > ul > li .date {
	color:#808080;
	float:right;
	padding:5px;
	margin-top:5px;
}

#resume > section > ul > li .location {
	color:#808080;
	display:block;
}

#hobbies ul li{
	line-height:1.5;
	display: inline;
}

#hobbies ul li:after{
	content: ',\00A0';
}
#hobbies ul li:last-child:after{
	content: '';
}

#footer {
	height:30px;
	background-color: #f5f5f5;
	border-top:1px solid #E6E3E3;
}

#footer > .container {
	padding:5px;


}

@media only print, screen and (min-width:800px) {
	#main{
		padding:0 20px;
	}

	section {
		position:relative;
	}

	#resume > h1 {
	margin-bottom:30px;
	padding: 5px 15px;
	}

	#resume > section > h2 {
		left:0;
		top:0;
		position: absolute;
	}
	#resume > section > dl >dt {
		float: left; 
		width: 60px; 
		text-align: left;
		font-weight:normal;
	}

	#resume > section > dl >dd {
		padding: 0 0 0.5em 0; 
	}

	#resume > section > dl >dt:after {
		content: ': ';
	}

	#resume > section > ul , #resume > section > dl {
		margin-top:25px;
		box-sizing: border-box;
		padding-left:250px;
		padding-right:50px;
	}
	#resume > section > ul > li> h3 {
		margin-bottom:5px;
	}



}

@media only screen and (max-width:  799px) {
	#main{
		padding:0 10px;
	}

	section {
		position:relative;
		border-bottom: 1px solid #725675;
	}

	#resume > h1 {
	margin-bottom:20px;
	padding: 5px 15px;
	}

	#resume > section > h2 {
		left:0;
		font-weight:400;
		font-size:large;
		
	}
	#resume > section > dl >dt {
		float: left; 
		width: 60px; 
		text-align: left;
		font-weight:normal;
	}

	#resume > section > dl >dd {
		padding: 0 0 0.5em 0; 
	}

	#resume > section > dl >dt:after {
		content: ': ';
	}

	#resume > section > ul , #resume > section > dl {
		margin-top:10px;
		box-sizing: border-box;
		/*padding-left:125px;*/
	}

	#resume > section > ul > li  ul {
		list-style-type: circle;
		margin:0 10px 0 20px;
	}
	#resume > section > ul > li> h3 {
		margin-bottom:5px;
	}
}